.randNum {
    color: black;
    width: 100px;
    height: 100px;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#violet {
    background-color: violet;
}

#score {
    font-size: 2rem;
}

#bigrandom {
    font-size: 2rem;
}

body {
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}